.box1{padding: 0.8rem 0.68rem 0.85rem;box-sizing: border-box;}
.box1 .erweima{width: 100%;height:8.08rem;background:rgba(255,255,255,1);border-radius:0.08rem;box-shadow:0px 0.24rem 0.27rem 0px rgba(173,175,187,0.21);}
.box1 .list{clear: both;overflow: hidden;margin-top: 0.8rem;}
.box1 .list ul{display: flex;justify-content: center;align-items: center;}
.box1 .list ul li{text-align: center;}
.box1 .list ul li:nth-child(2){
	margin: 0 .8rem;
}
.box1 .list ul li img{width:1rem;height:1rem;border-radius:.18rem;}
.box1 .list ul li p{font-size:0.26rem;font-family:PingFang SC;font-weight:400;color:rgba(0,0,0,1);margin-top: 0.28rem;}
.box1 .btn{
	margin: 1.2rem 0 0;
}
.box1 .btn button{
	display: block;
	width:6.25rem;
	height:0.84rem;
	background:rgba(235,236,244,1);
	border-radius:0.04rem;
	margin: 0 auto 0.2rem;
	border: none;
	font-size:0.36rem;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(34,34,34,1);
}
.box1 .btn button.on{
	background: #4FA2F7;
	color: #fff;
}